.DS_Store
*.pyc
*.egg-info
*.swp
tags
church_management/docs/current
node_modules/
church_management/public/dist/
church_management/frontend/node_modules/
church_management/data/*.dual-graph/
.dual-graph/
